* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgb(255, 167, 0);
  background-color: #004646;
  min-height: 100vh;
}

.maindiv {
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  display: flex;
}

.nowplaying, .history {
  border-right: 2px dashed rgb(255, 167, 0);
}

.nowplaying {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.history, .fulllist {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  color: rgb(255, 167, 0);
}

.episode {
  color: rgb(255, 167, 0);
  display: flex;
  align-items: center;
  border-top: 1px dotted;
  text-decoration: none;
}

.episode>div {
  border: 2px solid rgb(255, 167, 0);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 10px 15px;
}

#allplaylist, #histplaylist {
  height: calc(100vh - 100px);
  flex-grow: 1;
  overflow-y: auto;
}

.button {
  border: 2px solid;
  border-radius: 5px;
  display: inline;
  padding: 10px;
  cursor: pointer;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#play>div {
  font-size: 60px;
  border: 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-bottom: 30px;
}

@media (max-width:600px)  {
  .maindiv {
    flex-wrap: wrap;
  }

  .nowplaying {
    width: 100vw;
    height: 50vh;
    border-right: none;
    border-bottom: 2px dashed;
  }

  .history, .fulllist {
    width: 50vw;
    height: 50vh;
  }
}